In [1]:
import streamlit as st
import numpy as np
import pandas as pd

2021-05-15 12:53:47.301 WARNING streamlit.watcher.file_watcher:
  For better performance, install the Watchdog module:

  $ xcode-select --install
  $ pip install watchdog

In [2]:
df = pd.DataFrame({
    '1列目': [1, 2, 3, 4],
    '2列目': [10, 20, 30, 40]
})
df

   1列目  2列目
0    1   10
1    2   20
2    3   30
3    4   40

In [3]:
df = pd.DataFrame(
    np.random.rand(20, 3),
    columns=['a', 'b', 'c']
)
df

           a         b         c
0   0.368092  0.869156  0.074454
1   0.178681  0.136261  0.779390
2   0.670037  0.192830  0.426154
3   0.210228  0.521101  0.991484
4   0.790593  0.099031  0.284201
5   0.063911  0.440322  0.253868
6   0.355528  0.836034  0.178390
7   0.506706  0.193353  0.456529
8   0.955339  0.184685  0.537221
9   0.072431  0.224307  0.647720
10  0.494794  0.662580  0.434512
11  0.459488  0.671924  0.505913
12  0.149716  0.384966  0.341390
13  0.322587  0.161668  0.953778
14  0.106926  0.591408  0.047963
15  0.746638  0.076596  0.500944
16  0.724592  0.509186  0.434531
17  0.743087  0.924848  0.316900
18  0.393135  0.518707  0.346087
19  0.042127  0.434190  0.587724

In [7]:
df = pd.DataFrame(
    np.random.rand(100, 2)/[50, 50] + [35.69, 139.70],
    columns=['lat', 'lon']
)
df

          lat         lon
0   35.690741  139.700143
1   35.692884  139.713464
2   35.699819  139.719616
3   35.704301  139.713995
4   35.709923  139.714673
..        ...         ...
95  35.709993  139.717189
96  35.690787  139.708388
97  35.699473  139.704876
98  35.705938  139.703340
99  35.694208  139.701372

[100 rows x 2 columns]

In [8]:
list(range(1, 10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]